<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SimplePush.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E0AACDF91D97F7F600D24436</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E0AACE151D97F7F600D24436</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E0AACE201D97F7F600D24436</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
